body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-family: 'Helvetica Neue', Helvetica, Arials, sans-serif;
  padding: 40px;
  background-image: url("../resources/background-tile--invisible.png");
}

#footer {
  font-size: 11px;
  text-align: center;
  margin-top: 1.5em;
  opacity: 0.5;
}

#footer a {
  color: #999;
}

.ayeseeem-inline-icon {
  height: 20px;
  vertical-align: text-bottom;
}

.so-inline-icon {
  vertical-align: text-bottom;
}

